@font-face {
  font-family: "Titillium Web";
  src: url('/font/pokexp.ttf');
}

@font-face {
  font-family: "Titillium Web";
  font-weight: bold;
  src: url('/font/pokexpbold.ttf');
}

@font-face {
  font-family: "Mosk";
  font-weight: bold;
  src: url('/font/MoskBold.ttf');
}
@font-face {
  font-family: "Mosk";
  font-weight: 900;
  src: url('/font/MoskExtraBold.ttf');
}